<div class="p-3 mb-3 shadow sidebar-social rounded">
          <h5>Follow Me</h5>
          <ul class="social-list">
            <li class="twitter-btn d-flex justify-content-between">
              <a class="social-items" href="">Twitter</a>
            </li>
            <!-- <li class="telegram-btn d-flex justify-content-between">Telegram</li> -->
            <li class="facebook-btn d-flex justify-content-between">
              <a href="">FaceBook</a>
            </li>
            <li class="instagram-btn d-flex justify-content-between">
              <a href="">Instagram</a>
            </li>
            <li class="linkedin-btn d-flex justify-content-between">
              <a href="">Linkedin</a>
            </li>
            <li class="youtube-btn d-flex justify-content-between">
              <a href="">Youtube</a>
            </li>
            <li class="github-btn d-flex justify-content-between">
              <a href="">Github</a>
            </li>
            <li class="gitlab-btn d-flex justify-content-between">
              <a href="">Gitlab</a>
            </li>
            <li class="bitcoin-btn d-flex justify-content-between">
              <a href="">Bitcoin</a>
            </li>
          </ul>
        </div>
